AppBars/Connected Services/ServiceBars/ServerBars.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerBars.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerBars.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Docs">
    <xs:sequence>
      <xs:element minOccurs="0" name="docs" nillable="true" type="tns:ArrayOfDoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Docs" nillable="true" type="tns:Docs" />
  <xs:complexType name="ArrayOfDoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Doc" nillable="true" type="tns:Doc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDoc" nillable="true" type="tns:ArrayOfDoc" />
  <xs:complexType name="Doc">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Doc" nillable="true" type="tns:Doc" />
</xs:schema>